/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
a.btn-yellow, .btn-yellow {
  color: #000;
  background-color: #FFC107;
}
a.btn-green, .btn-green {
  color: #fff;
  background-color: #32aa48;
}
.btn-header {
  display: block;
  width: 22px;
  height: 23px;
  position: relative;
  top: 8px;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.btn-header span {
  font-size: 1.6125rem;
}
.custom-search-input-2 input[type='submit'] {
  background-color: #FFC107;
  color: #222;
}
.page-item.active .page-link {
  color: #000;
  background-color: #FFC107;
  border-color: #FFC107;
}
.sub-header-dark {
  background-color: #333;
}
.sub-header-yellow {
  background-color: #FFC107;
}
.sub-header-indigo {
  background-color: #4a5d7d;
}
.extra-header {
  background-color: #fff;
}
@media only screen and (min-width: 992px) {
  #results {
    margin-top: 78px;
  }
  .extra-header .main-menu > ul > li span > a {
    color: #000;
  }
  .extra-nav {
    margin-top: 78px;
  }
  .sub_header_in.sticky_header {
    margin-top: 78px;
  }
}
@media (max-width: 767px) {
  #results {
    margin-top: 51px;
  }
  header.header {
    /*background-color: #fff;*/
  }
  .extra-header .hamburger-inner,
  .extra-header .hamburger-inner::after,
  .extra-header .hamburger-inner::before {
    background-color: #444;
  }
  .extra-header ul#top_menu li a.login:before,
  .extra-header ul#top_menu li a.wishlist_bt_top:before {
    color: #444;
  }
}
.extra-header ul#top_menu li a {
  color: #444;
}
@media (max-width: 575px) {

}